@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$FontTitles: "Poppins";
$FontBody: "Roboto", sans-serif;
$ShadowMain: 10px 9px 11px -14px rgba(0, 0, 0, 0.75);
$SecondColor: #13678a;
$NavColor: #fffdf8;
$ColorTitle: rgb(212, 162, 0);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

hr{
    width: 95%;
    margin: auto;
    padding: 2px;
    border-radius: 10px;
    border: transparent;
    background-color: $SecondColor;
}

header {
  width: 100%;
  height: 500px;
  nav {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    transition: 0.2s ease;
    z-index: 200;
    h1 {
      color: $ColorTitle;
      font-family: $FontTitles;
    }
    ul {
      display: flex;
      gap: 30px;
      li {
        list-style: none;
        a {
          font-family: $FontBody;
          color: $SecondColor;
          text-decoration: none;
        }
      }
    }
  }

  .main-info {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    .main-photo {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      background-color: #e7e7e7;
      box-shadow: $ShadowMain;
      img {
        width: 400px;
        height: 500px;
        margin-top: 90px;
        margin-right: 40px;
      }
    }
    .main-data {
      width: 350px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-family: $FontTitles;
        color: $ColorTitle;
        font-weight: bold;
        font-size: 35px;
      }
      p {
        font-weight: bold;
        color: $SecondColor;
        font-family: $FontBody;
        font-size: 25px;
        margin: 1px 0;
      }
      .info-buttons {
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button-CV {
            display: block;
          background-color: transparent;
          padding: 10px;
          border: 2px solid $SecondColor;
          border-radius: 50px;
          font-family: $FontBody;
          cursor: pointer;
          text-decoration: none;
          color: black;
          font-weight: bold;
          transition: .5s ease;
          &:hover{
            background-color: $SecondColor;
            color: white;
          }
        }
        .button-contact {
            display: block;
            text-decoration: none;
          background-color: rgb(68, 68, 68);
          color: white;
          padding: 10px;
          border: 2px solid transparent;
          border-radius: 50px;
          font-family: $FontBody;
          cursor: pointer;
          transition: .5s ease;
          &:hover{
            background-color: white;
            color: $ColorTitle;
            border-color: $ColorTitle;
          }
        }
      }
      .info-social{
        width: 300px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        img{
            width: 30px;
            height: 30px;
            transition: .3s ease;
            &:hover{
                transform: scale(1.2);
            }
        }
      }
    }
  }
}

.title-about {
  text-align: center;
  font-family: $FontTitles;
  font-weight: bold;
  font-size: 40px;
  margin-top: 100px;
  margin-left: 30%;
}

.aboutme {
  width: 80%;
  height: 300px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 80% 20%;
  margin: auto;
  margin-bottom: 400px;
  .aboutme-img {
    width: 400px;
    height: 500px;
    grid-column: 1/2;
    grid-row: 1/3;
    box-shadow: $ShadowMain;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    &::before{
        content: "VER FOTO";
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $FontTitles;
        font-size: 30px;
        color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 20px;
        background-color: rgba(37, 37, 37, 0.678);
        transition: .5s ease;
    }
    &:hover::before{
        transform: translateY(-500px);
    }
  }
  .aboutme-item {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .item {
      width: 300px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      border: 2px solid $SecondColor;
      .item-icon {
        width: 30px;
        height: 30px;
        margin: 15px 0;
      }
      p:nth-child(2) {
        font-weight: bold;
      }
      p {
        font-family: $FontBody;
      }
    }
  }
  .about-text {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 90%;
    margin: auto;
    margin-top: -20px;
    p {
      font-family: $FontBody;
      font-size: 18px;
    }
  }
}

.title-stack {
  text-align: center;
  margin-top: 100px;
  font-family: $FontTitles;
  font-weight: bold;
  text-transform: uppercase;
}

.experiencia-container {
  width: 100%;
  height: 240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 200px;
  background-color: rgb(17, 17, 17);
  img {
    width: 100px;
    height: 100px;
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.5);
    }
    &:nth-child(6){
        border: 3px solid white;
        border-radius: 50px;
        background-color: white;
    }
  }
}

.title-proyectos {
  text-align: center;
  margin-bottom: 30px;
  font-family: $FontTitles;
  text-transform: uppercase;
}
.proyectos-container {
  width: 90%;
  height: 450px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  .proyecto-card {
    width: 60%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 32, 32);
    box-shadow: $ShadowMain;

    img {
      width: 80%;
      height: 250px;
      margin-top: 50px;
      border-radius: 20px;
    }
    p {
      font-family: $FontTitles;
      font-size: 20px;
      font-weight: bold;
      margin-top: 15px;
      padding: 0 50px;
      color: $NavColor;
    }
    .proyecto-buttons {
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      gap: 15px;
      .button {
        text-decoration: none;
        display: block;
        background-color: transparent;
        border-radius: 50px;
        padding: 10px;
        background-color: $NavColor;
        border: transparent;
        color: $SecondColor;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $FontBody;
        transition: .5s ease;
        &:hover{
            background-color: $SecondColor;
            color: white;
        }
      }
    }
    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
}

.contacto-container {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-image: url(../assets/program.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(37, 37, 37, 0.555);
  }
  .contacto-text {
    width: 700px;
    height: 50%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: $FontTitles;
      font-size: 35px;
      color: $ColorTitle;
      z-index: 100;
    }
    p {
      font-family: $FontBody;
      font-size: 20px;
      color: $NavColor;
      padding: 1px 30px;
      z-index: 100;
    }
  }
  .form {
    width: 400px;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    margin-left: 40px;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 8px 0px 0px rgba(255, 255, 255, 0.829);
    .form-group {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      label {
        color: #13678a;
        font-family: $FontTitles;
        *font-weight: bold;
      }
      input[type="text"] {
        width: 350px;
        background-color: transparent;
        color: #000000;
        padding: 0.6em 0.3em;
        border: 1px solid #d4d4d4;
        background-color: #fdfdfde8;
        outline: none;
        margin-bottom: 15px;
        font-family: $FontBody;
      }
    }
    .consulta-title {
      color: #13678a;
      font-family: $FontTitles;
      margin-bottom: 10px;
    }

    .consulta {
      width: 90%;
      resize: none;
      outline: none;
      border: 1px solid #d4d4d4;
      background-color: #fdfdfde8;
    }
    .buttonEnviar {
        display: block;
      color: white;
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 3px;
      border: 1px solid transparent;
      cursor: pointer;
      background-color: #13678a;
      transition: 0.6s ease;
      font-family: $FontBody;
      &:hover {
        background-color: #14ba16;
        border: 1px solid white;
        color: white;
      }
    }
  }
}
